$black: #040C27;
$darkgrey: #696969;
$silver: #AEAEAE;
$grey: #848484;
$lightgrey: #D4D4D4;
$lavender: #F4F6FF;
$blue: #4565CF;
$red: #DB4437;
$white: #FFFFFF;
$whitesmoke: #F9F9F9;
h1 {
    font-weight: 600;
    font-size: 24px;
    color: $black;
}

p {
    font-weight: normal;
    font-size: 14px;
    color: $black;
}

.font-size-24px {
    font-size: 24px;
}

.pt-180px {
    padding-top: 180px;
}