@import 'modules/variables';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import 'modules/fonts';
@import 'modules/icons';
@import 'modules/popover';
body {
    font-family: 'Lato';
    background-color: $white;
}

p {
    padding: 0;
    margin: 0;
}

a {
    cursor: pointer;
    text-decoration: none;
}

.navbar-expand-lg {
    .navbar-nav {
        .nav-link {
            font-weight: 500;
            font-size: 16px;
            color: $white;
            padding: 0 20px;
        }
    }
}

.hero-img {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    object-fit: contain;
}

.hero {
    background: transparent;
}

.btn {
    &:focus {
        box-shadow: none;
    }
}

.btn-primary {
    font-weight: 700;
    font-size: 14px;
    color: $whitesmoke;
    border: none;
    border-radius: 7px;
    padding: 16px 40px;
    &:hover {
        box-shadow: 0 4px 16px 0 rgba(65, 132, 234, 0.75);
    }
}

.btn-link {
    font-weight: 600;
    font-size: 14px;
    color: $darkgrey;
    padding: 0;
    text-decoration: none;
    &:hover {
        color: $silver;
    }
}

input {
    outline: none;
}

.form-label {
    font-weight: 600;
    font-size: 12px;
    color: $blue;
}

.input-group {
    border: 1px solid $blue;
    border-radius: 4px;
    &:focus {
        outline: none;
        box-shadow: none;
        border: 1px solid $blue;
    }
    .form-control {
        font-weight: 500;
        font-size: 16px;
        color: $silver;
        background-color: transparent;
        padding: 16px;
        border: 0;
        &:focus {
            box-shadow: none;
        }
        &::placeholder {
            color: $lightgrey;
        }
    }
    .input-group-text {
        background-color: transparent;
        border: 0;
        padding: 20px 18px;
    }
}

.navbar {
    padding: 30px 0;
    .navbar-brand-img {
        height: 36px;
    }
}

@media (max-width: 992px) {}